body {
  font-family: "Inter", sans-serif;
}
.header {
  text-align: center;
  color: #28cde3;
  font-size: 48px;
  font-weight: 400;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}
.spanheader {
  color: #000000;
}
.poster {
  background-image: url("../images/Успенський\ собор\ 1.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 852px;
}
.content {
  padding-left: 2.5em;
  padding-top: 4em;
  font-weight: 700;
  color: #ffffff;
  width: 715px;
  height: 45%;
  background-repeat: no-repeat;
  background-position-x: 1.5em;
  background-position-y: 3em;
  font-size: 64px;
  background-image: url("../images/flag.png");
}
.TitleofCards {
  font-weight: 700;
  font-size: 48px;
  color: #000000;
  padding-top: 0.8em;
  width: 7.52em;
  margin-bottom: 1.5em;
  border-bottom: 5px #33b8f1 solid;
}
.main {
  padding-left: 5em;
  padding-right: 5em;
}
.card {
  border: 1px black solid;
  width: 30%;
  display: inline-block;
  vertical-align: top;
  height: 570px;
  box-shadow: 0px 4px 6px 5px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  margin-top: 2%;
}
.card_margin {
  margin: 2% 4.5%;
}
.imagecard {
  width: 100%;
}
.container {
  color: #595050;
  font-weight: 400;
  font-size: 32px;
  padding: 0.3em;
}
.titleofcard {
  font-weight: 700;
  color: #595050;
  font-size: 36px;
  padding: 0.3em;
}
.mainheader {
  font-weight: 700;
  font-size: 48px;
  color: #000000;
  text-align: center;
  margin-top: 2em;
}
.line {
  height: 5px;
  background-color: #33b8f1;
  width: 7em;
}
.imagemainheader {
  text-align: center;
}
.buttom {
  width: 430px;
  background-color: #33adf1;
  font-weight: 700;
  font-size: 48px;
  margin: 0 auto;
  margin-bottom: 3em;
  padding: 0.2em 0.4em;
}
.linkinbuttom {
  color: #ffffff;
  text-decoration: none;
}
.foot {
  background-color: #0a2da9;
  height: 405px;
}
.headerfoot {
  padding-top: 0.8em;
  font-weight: 400;
  font-size: 64px;
  text-align: center;
  color: #0bbbd3;
}
.spanheaderfoot {
  color: #f8f5f5;
}
.contact {
  font-family: "Inder", sans-serif;
  font-weight: 400;
  font-size: 32px;
  text-align: center;
}
.linkcontact {
  color: #353949;
  text-decoration: none;
}
.linksforsocial {
  margin-left: 38%;
}
.linksocial {
  background-color: #0931bf;
  width: 72px;
  height: 67px;
  display: inline-block;
  vertical-align: top;
  border-radius: 50%;
  text-align: center;
  padding: 0.9% 0.3% 0%;
  margin-right: 4%;
}
